@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");

.header {
    background-image: linear-gradient(to right, #00a9d3, #086e88);
    width: 100%;
    font-size: 3vw;
    font-family: "Zen Dots", cursive;
    color: white;
    display: flex;
    height: 85px;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.text {
    display: flex;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(72, 70, 73, 0.1),
    3px 4px 4px rgba(86, 85, 87, 0.15),
    4px 6px 4px rgba(94, 93, 95, 0.2),
    5px 8px 4px rgba(73, 72, 75, 0.25);
}

.menu {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-right: 10px;
}

.menuItem {
    color: #d2f6ff;
    font-size: calc((10vw - 0.5rem) / 7);
    width: 10vw;
    text-decoration: none;
    margin: 3px;
    padding: 10px 5px;
    justify-content: center;
}

.sessionNotice {
    font-size: 40%;
    width: 20%;
}

.sessionNotice.error {
    color: #b90707;
}

.hover-3 {
    --b: 0.1em; /* the thickness of the line */
    --c: #aaa8a8; /* the color */

    color: rgba(255, 255, 255, 0);
    padding-block: var(--b);
    background: linear-gradient(var(--c) 50%, rgb(255, 255, 255) 0) 0% calc(100% - var(--_p, 0%)) / 100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p, 0%) / var(--_p, 0%) var(--b) no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: 0.3s var(--_s, 0s) linear,
    background-size 0.3s calc(0.3s - var(--_s, 0s));
    display: flex;
    letter-spacing: 2px;
    /* text-shadow: 2px 2px 4px rgba(72, 70, 73, 0.1),
        3px 4px 4px rgba(86, 85, 87, 0.15), 
        4px 6px 4px rgba(94, 93, 95, 0.2),
        5px 8px 4px rgba(73, 72, 75, 0.25); */
}

.hover-3:hover,
.hover-3.active {
    --_p: 100%;
    --_s: 0.3s;
}
