.recentShots {
  width: 50%;
}

.shot_object{
  background-color: #750000;
  width: 250px;
  margin: 10px;
  cursor: pointer;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  color:#a9fff3;
}

.shot_object:hover{
  background-color: #980000;
}

.shot_object.active{
  background-color: #cb0101;
}

.shot_object.adder{
  background-color: #313131;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shot_object > .clientId{
  background-color: #ff1a1a;
}

.object-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  overflow: auto;
  align-items: center;
}