.shot_object.adder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shot_object.users {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin: 10px;
}

.shot_object.users .remove-btn:hover{
    filter: drop-shadow(2px 4px 6px #c40000)
}