.settings-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: calc(33.333333vw - 34px);
    min-width: 250px;
}

.settings-item button, .settings-item select, .settings-item input{
    width: 100%;
}

.settings-text{
    font-size: 12px;
}

.settings-text2{
    font-size: 18px;
}

#settings-view{
    margin: 10px;
}